<nav>
    <a href="/">File Uploader</a>
    <% if (!locals.user) { %>
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
    <% } else { %>
        <% if (!locals.file) { %>
            <a href="/<%= locals.folderId %>/upload">Upload file</a>
            <a href="/<%= locals.folderId %>/make-folder">Make folder</a>
        <% } %>
        <a href="/logout">Log Out</a>
    <% } %>
    
</nav>