<nav>
    <a href="/">File Uploader</a>
    <% if (!locals.user) { %>
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
    <% } else { %>
        <a href="/upload">Upload file</a>
        <a href="/logout">Log Out</a>
    <% } %>
</nav>