<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Folder</title>
</head>
<body>
    <h1>Make Folder</h1>
    <form action="/<%= locals.folderId %>/make-folder" method="POST">
        <label for="folderName">Folder Name:</label>
        <input type="text" name="folderName" id="folderName">
        <button type="submit">Make Folder</button>
    </form>
</body>
</html>